#ContainerSlaider1{
    background-image: url("../img/sliderImages/1.jpg");
    background-position: 0px -70px;
}
#ContainerSlaider2{
    background-image: url("../img/sliderImages/0.jpg");
    background-position: 0px -70px;
    
}
#ContainerSlaider3{
    background-image: url("../img/sliderImages/2.jpg");
    background-position: 0px -150px;
    
}
.containerSlider{
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    flex: 1;
    
    height: 100%;
    content: '';
    align-items: center;
    justify-content: space-around;
    font-size: 17px;
}
.descServiço{
    width: 700p;
    height: fit-content;
}
.containerSliderItem{
    flex:1;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 100px;
    
    color: white;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.575);
}
.esq{
    text-align: left;
}
.dir{
    text-align: right;
    width: 250px;
    height: 250px;
    
}
.dirmenor{
    text-align: right;
    width: 200px;
    height: 200px;
    
}
.tituloContainerSlider{
    margin-bottom: 20px;
    font-size: 65px;
    font-family: 'Staatliches';
}
.card{
    background-color: rgba(180, 180, 180, 0.281);
    border-radius: 5px;
    padding-top: 30px;
    padding-bottom: 30px ;
    margin-left: 40px;
    box-sizing: border-box;
}
@media only screen and (max-width: 360px) {
    .dirmenor{
        height: 20px;
    }
    .esq{

    }
    #ContainerSlaider1{
        background-image: url("../img/sliderImages/1.jpg");
        background-position-y: center;
        background-position-x:170px ;
        background-size: cover;
    }
    #ContainerSlaider2{
        background-image: url("../img/sliderImages/0.jpg");
        background-position-y: center;
        background-size: cover;
    }
    #ContainerSlaider3{
        background-image: url("../img/sliderImages/2.jpg");
        background-position-y: center;
        background-size: cover;
    }
    .containerSlider{
        display: flex;
        
        flex: 1;
        
        height: 100%;
        
        flex-direction: column;
        justify-content: space-around;
        font-size: 13px;
    }
    .containerSliderItem{
        width: 100vw;
       
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.575);
    }
    .esq{
        height: 80%;
    }
    #esqmaior{
        height: fit-content;
    }
    #dirmenor{
        height: 20px;
    }
    .imgServiço{
        width: 100px;
        height: 100px;
    }
    .card{
        border-radius: 0px;
        padding-top:0px;
        padding-bottom: 0px ;
        margin-left: 0px;
        background-color: rgba(0, 0, 0, 0);
    }
    .tituloContainerSlider{
        
        font-size: 30px;
        font-family: 'Staatliches';
    }
    .descServiço{
        width: 80vw;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        
        text-align: center;
        font-size: 17px;
        padding-top:20px ;
    }
}
@media only screen and (max-width: 1000px) {
    .dirmenor{
        height: 20px;
    }
    .esq{

    }
    #ContainerSlaider1{
        background-image: url("../img/sliderImages/1.jpg");
        background-position-y: center;
        background-position-x:00px ;
        background-size: cover;
    }
    #ContainerSlaider2{
        background-image: url("../img/sliderImages/0.jpg");
        background-position-y: center;
        background-size: cover;
    }
    #ContainerSlaider3{
        background-image: url("../img/sliderImages/2.jpg");
        background-position-y: center;
        background-size: cover;
    }
    .containerSlider{
        display: flex;
        flex: 1;
        height: 100%;
        flex-direction: column;
        justify-content: space-around;
        font-size: 13px;
    }
    .containerSliderItem{
        width: 100vw;
       
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.575);
    }
    .esq{
        height: 80%;
    }
    #esqmaior{
        height: fit-content;
    }
    #dirmenor{
        height: 20px;
    }
    .imgServiço{
        width: 100px;
        height: 100px;
    }
    .card{
        border-radius: 0px;
        padding-top:0px;
        padding-bottom: 0px ;
        margin-left: 0px;
        background-color: rgba(0, 0, 0, 0);
    }
    .tituloContainerSlider{
        display: block;
        position: relative;
        top: 15px;
        font-size: 30px;
        font-family: 'Staatliches';
    }
    .descServiço{
        width: 80vw;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        
        text-align: center;
        font-size: 17px;
        padding-top:20px ;
    }
    
}
@media only screen and (max-width: 400px) {
    #ContainerSlaider1{
        background-image: url("../img/sliderImages/1.jpg");
        background-position-y: center;
        background-position-x:-250px ;
        background-size: cover;
    }
}